<%- layout('/layout/modal.ejs') -%>

<p>Ce module permet de piloter boblight avec SARAH</p>

<div class="alert alert-info" role="alert">
  <h4>Participants</h4>
  <p>sarakha63</p>
</div>
<h4>Que peut on faire et comment ça marche: Utilisation de boblight avec SARAH <span class="badge">New</span></h4>
	Tout d'abord, il faut absolument configurer votre addresse boblight ainsi que le port (généralement 19333).
	<br />Une fois cela fait (et le serveur boblight démarré) :
	Vous pourrez dire : <br />Sarah met boblight en K2000
						<br />Sarah met boblight en police
						<br />Sarah met boblight en stroboscope
						<br />Sarah met boblight en arc en ciel
						<br />Sarah met boblight en serpent
						<br />Sarah met boblight à l'arret
						<br />.....
						
<div class="tab-pane active" id="plugin-version">
<h4>Version 1.0 : Premiers scénarios</h4>
<pre>
[X] K2000
[X] police
[X] test
[X] orage
[X] cheminé
[X] marseillaise
[X] stroboscope
[X] serpent
[X] arc-en-ciel
</pre>
<h4>A venir</h4>
<pre>
Tout scénario intéressant à rajouter
......
</pre>
</div><!-- tab-content -->


